
.container{
	
	width:700px;
	margin:125px auto;
	padding:5px;
	font-family: 'Roboto', sans-serif;
	font-size:1rem;
}
.heading-container{
	font-weight:400;
	display:flex;
}
.bold-tasks{
	font-size:3rem;
	font-weight:bolder;
}
.lighter-lists{
	width:55%;
	font-size:3rem;
	font-weight:lighter;
}
.add-symbol{
	height:30px;
	padding:0px;
	width:30px;
	border:0px;
	color:white;
	font-size:1.7rem;
	text-align:center;
	border-radius:50%;
	background-color:red;
	margin:14px 0px;
}
.add-tasklist-btn{
	width:30px;
	height:30px;
	font-size:22px;
	border-radius:50%;
	border:none;
	cursor:pointer;
	background-color:red;
	margin-top:13px;
	
}
.add-list{
	font-size:1.5rem;
	font-weight:lighter;
	margin:14px 0px 14px 8px;
}
.task-list-container{
	margin-top:2rem;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:space-between;
	align-items:flex-start;
}
.task-details-container{
	border:1px solid rgb(255,0,0,0.5);
	position:relative;
	min-height:300px;
	width:200px;
	border-radius:5px;
	box-shadow: 5px 5px 5px grey;
	margin-bottom:1rem;
}
.task-name-container{
	
	text-align:center;
}
.task-name{
	margin:20px 0px; 
	font-size:1.3rem;
	font-weight:100;
	color:red;
}
#task-item-list{
	margin-top:30px;
	margin-bottom:65px;
}
.task-item{
	text-align:center;
	margin:10px 0px 20px 0px;
	text-decoration: solid;
	
	font-size:1rem;
}
.task-item-complete{
	background-color:blue;
	border-radius:15px;
	margin-left:10px;
	color:white;
	font-size:0.6rem;
	padding:4px;
	border:0px;
	cursor:pointer;
}
.task-pending{
	margin-left:10px;
}

.task-details-container-footer{
	position:absolute;
	bottom:20px;
	right:20px;
}
.delete-task-btn{
	width:33px;
	height:33px;
	font-size:25px;
	border-radius:50%;
	border:none;
	cursor:pointer;
	background-color:red;
	display:inline-block;
}
.add-task-btn{
	width:33px;
	height:33px;
	font-size:25px;
	border-radius:50%;
	border:none;
	cursor:pointer;
	background-color:blue;
	display:inline-block;
}
.fa-custom{
	color:white;
	padding-top:4px;
}
.add-task-container{
	width:300px;
	border:1px solid red;
	border-radius:8px;
	text-align:center;
	padding:20px;
	padding-bottom:0px;
	font-family: Verdana;
	box-shadow:5px 5px 3px 0px grey;
	position:fixed;
	top:250px;
	left:500px;
	z-index:2;
	background-color:white;
	visibility:hidden;
	
}
.new-list{
	color:red;
	text-align:center;
	padding-bottom:20px;
}
input[type=text]{
	height:25px;
	width:250px;
	border:1px solid orangered;
	border-radius:3px;
	box-shadow:3px 3px 3px 0px grey;
}
.popup-button{
	height:25px;
	width:65px;
	border:0px;
	border-radius:15px;
	cursor:pointer;
	color:white;
	background-color:red;
	margin: 25px 30px 25px 20px;
	text-align:center;
	padding-top:3px;
	display:inline-block;
}





@media screen and ( min-width:320px ) and ( max-width:480px ) {
	.container {
		width:90%;
		margin:50px 10px 0px 10px;
	}
	.lighter-lists {
		width:40%;
	}
	.add-list {
		display:none;
	}
	.task-name-container {
		width:95%;
	}
	.task-name{
		color:grey;
	}
	.h-line {
		display:none;
	}
	.task-completion{
		display:none;
	}
	.task-pending{
		display:none;
	}
	.task-details-container{
		height:auto;
		width:100%;
		margin-bottom:2rem;
	}
}

	
	
